body {
	overflow-x: hidden; 
	overflow-y: auto;
    background-color: #9e9e9e0f;
}

h1 {
    font-style: italic;
    font-weight: 500;
    font-family: STSong;
    line-height: 70px;
    background-color: #ffffff9e;
    color: #2196F3;
    margin: 0px -20px 10px -20px;
    width: 100%;
    padding: 0px 20px;
    border-bottom: 1px solid #00000036;
}

.title-input {
	height: 38px !important;
    width: 100%;
}
    
.submitbtn {
    position: fixed;
    z-index: 1000;
    font-size: 26px;
    color: #fff;
    left: 90%;
    top: 94%;
    background-color: #03a9f4a6;
    padding: 10px 8px 6px 10px;
    border-radius: 25px;
}

.submitbtn:hover {
    background-color: #03A9F4;
    cursor:pointer;
}

.caption {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 74px;
}

.caption ul {
	position: inherit!important;
}
    

.thumbnail > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    width: 100%;
}

.btn {
    margin: 8px 6px;
}